<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UPDATE Person</title>
</head>
<body>

<!--thymeleaf method PATCH creates hidden _method "POST" which let us interact in HTML-->
<form th:method="PATCH" th:action="@{/persons/{id}(id=${personEdit.getId()})}" th:object="${personEdit}">

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="age">Enter name: </label>
    <input type="number" th:field="*{age}" id="age">
    <br/>
    <label for="email">Enter name: </label>
    <input type="email" th:field="*{email}" id="email">
    <br/>


    <input type="submit" value="UPDATE !">

</form>
</body>
</html>