<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="style.css">-->
    <style>
        .center-block {
            margin: 10px;
            display: block;
            font-family: Arial;
        }
    </style>
    <title>UPDATE Person</title>
</head>
<body>

<!--thymeleaf method PATCH creates hidden _method "POST" which let us interact in HTML-->
<form th:method="PATCH" th:action="@{/persons/{id}(id=${personEdit.getId()})}" th:object="${personEdit}">

    <label for="name">Edit name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="age">Edit age: </label>
    <input type="number" th:field="*{age}" id="age">
    <br/>
    <label for="email">Edit email: </label>
    <input type="email" th:field="*{email}" id="email">
    <br/>


    <input type="submit" value="UPDATE !">

</form>
</body>
</html>