<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person by ID</title>
</head>
<body>
<p th:text="name + ' : ' + ${person.getName()}">name VALUE</p>
<p th:text="id + ' : ' + ${person.getId()}">id VALUE</p>
<p th:text="email + ' : ' + ${person.getEmail()}">email VALUE</p>
<p th:text="age + ' : ' + ${person.getAge()}">age VALUE</p>

<hr/>
<!--<a href="/persons"> BACK to the List of Persons</a>-->
<form th:action="@{/persons}">
    <input type="submit" value="BACK to the List of Persons">
</form>


<br/>

<form th:action="@{/persons/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="EDIT Person">
</form>
<br/>
<!--WE CAN NOT SEND DELETE REQUEST with"A" tag - WE SHOULD USE FORM TAG !!!-->
<form th:method="DELETE" th:action="@{/persons/{id}(id=${person.getId()})}">
    <input type="submit" value="DELETE">
</form>

</body>
</html>